__pycache__/
random_scripts/
build/
build/*
devel/
src/

**/.DS_Store
**/**.bag
**/**.bag.active
**/**.hdf5
**/**.jpg
**/**.png
**/**.pyc
**/**.py
replay_SLAM.bash
HDF5-Parsing.code-workspace

!h5py_recorder.py
!h5py_helper.py